@page "/"
@using System.Timers

<style>
    .container {
        width: 400px;
        margin-top: 20px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        <h1>Find The Animals</h1>
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var index = animalNumber;
            var animalDessaPosicao = shuffledAnimals[index];

            <div class="col-3">
                <button type="button" @onclick="@(() => ButtonClick(animalDessaPosicao, index))"
                    class="btn btn-outline-dark">
                    <h1>@foundedAnimals[index]</h1>
                </button>
            </div>
        }
    </div>
    <div class="row mt-3 justify-content-between">
        <div class="col-3">
            <button @onclick="@(()=>SetUpGame())" style="width:100px;" type="button" class="btn btn-dark">Reiniciar</button>
        </div>
        <div class="col-3">
            <button @onclick="@(()=>PausarGame())" type="button"style="width:100px;" class="btn btn-dark">@pausar</button>
        </div>
    </div>
        <div class="row">
            <h2>Melhor Tempo:@menorTempo</h2>
        </div>
    <div class="row">
        <h2>Matches Found: @matchesFound</h2>
    </div>
    <div class="row">
        <h2>Time: @timeDisplay</h2>
    </div>
</div>

@code {
    string menorTempo = string.Empty;
    string pausar = "Pausar";
    bool gameStarted = false;
    List<string> armazenamentoAnimais = new List<string>(){
"🐶","🐸", "🐨","🐺", "🦇","🐮", "🦉","🦊",
"🐱","🦟", "🦁","🦕", "🐯","🦈", "🐋","🐭",
    };
    List<string> animalEmoji = new List<string>();
    bool isProcessing = false;
    List<string> shuffledAnimals = new List<string>();
    List<string> foundedAnimals = new List<string>();
    
    int matchesFound = 0;
    Timer timer = default!;
    int tenthsOfSecondElapsed = 0;
    string timeDisplay = "0.0s";

    string lastAnimalFound = string.Empty;
    int lastIndexFound = -1;

    protected override void OnInitialized()
    {
        // Configuração do Timer com intervalo de 100ms
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;
        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new Random();
        var selecionados = armazenamentoAnimais
        .OrderBy(a=>random.Next())
        .Take(8)
        .ToList();

        animalEmoji = selecionados.Concat(selecionados).ToList();

        // Embaralha os animais usando um número aleatório para cada item
        shuffledAnimals = animalEmoji
        .OrderBy(item => random.Next())
        .ToList();

        // Inicializa a lista de exibição com espaços vazios
        foundedAnimals = shuffledAnimals
        .Select(a => string.Empty)
        .ToList();

        matchesFound = 0;
        tenthsOfSecondElapsed = 0;
        lastAnimalFound = string.Empty;
        lastIndexFound = -1;
        timer.Stop();
        gameStarted = false;
        timeDisplay = "0.0s";

    }

    private async void ButtonClick(string animal, int index)
    {
        if (!gameStarted)
        {
            timer.Start();
            gameStarted = true;
        }

        // Se estiver processando um erro, já estiver descoberto ou for o mesmo botão: TRAVA
        if (isProcessing || foundedAnimals[index] != string.Empty || lastIndexFound == index)
        {
            return;
        }

        foundedAnimals[index] = animal;

        if (lastAnimalFound == string.Empty)
        {
            lastAnimalFound = animal;
            lastIndexFound = index;
        }
        else if (lastAnimalFound == animal)
        {
            lastAnimalFound = string.Empty;
            lastIndexFound = -1;
            matchesFound++;

            if (matchesFound == 8)
            {
                timer.Stop();

                if(menorTempo == string.Empty){
                    menorTempo = timeDisplay;
                }
                
                float tempoAtual = float.Parse(timeDisplay.Replace("s",""));
                float recordeAtual = float.Parse(menorTempo.Replace("s",""));
                menorTempo = tempoAtual<recordeAtual
                ?timeDisplay
                :menorTempo;
                timeDisplay += " - Play Again?";
            }
        }
        else
        {
            // ATENÇÃO AQUI: Começamos o bloqueio
            isProcessing = true;

            StateHasChanged();
            await Task.Delay(700);

            foundedAnimals[index] = string.Empty;
            foundedAnimals[lastIndexFound] = string.Empty;

            lastAnimalFound = string.Empty;
            lastIndexFound = -1;

            // Fim do bloqueio: agora o usuário pode clicar de novo
            isProcessing = false;
        }

        StateHasChanged();
    }
    private void PausarGame(){
        if(!gameStarted || matchesFound == 8){
            return;
        }
        if(pausar == "Pausar"){
            pausar = "Retomar";
            isProcessing = true;
            timer.Stop();
        }else{
            isProcessing = false;
            pausar = "Pausar";
            timer.Start();
        }
    }

    private void Timer_Tick(object? source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondElapsed++;
            timeDisplay = (tenthsOfSecondElapsed / 10F).ToString("0.0s");
            StateHasChanged();
        });
    }
}